html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #17c5e8 !important;
}

p {
  font-weight: bolder;
  text-align: justify;
}


h1 {
  font-size: 350%;
}

div {
  display: flex;
  justify-content: space-evenly;
}