html {
  height: 100%;
  width: 100%;
}

body {
  margin-left: 20vw;
  margin-right: 20vw;
  padding-bottom: 50px;
}

body {
  background-color: #a3e1f0;
}

p {
  font-size: 20px;
  text-align: justify;
}